
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename ='log-sign (1).css') }}">
	    <title>SignUp</title>
</head>
<body>
	<section class="header">
		<nav>
		  <img src="/static/images/logo.png" class="photo" alt="this is a logo">
		  <input type="checkbox" id="check">
		  <label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		  </label>
		 <label class="logo">Jaundice Wizard</label>
		 <ul>
		  <li><a class="active"  href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
		  <li><a  href="/checkcasenull"><i class="fa fa-stethoscope" aria-hidden="true"></i>CheckCase</a></li>
		  <li><a  href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>logIN</a></li>
		  <li><a  href="/signin"><i class="fa fa-registered" aria-hidden="true"></i>Regriste</a></li>
		</ul>
	</nav>
	<script>
		let subMenu = document.getElementById("subMenu");
		
		function toggleMenu(){
			subMenu.classList.toggle("open-menu");
		}
		</script>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form method="Post" action="/subuser">
			<h1>Sign Up</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" required name = "name" />
			<input type='text' placeholder="User Name" required name = "username" />	
			<input type="email" placeholder="Email" required name = "email" />
			<input type="password" placeholder="Password" required name = "password" />
			<input type='numbers' placeholder="Phone Number" required name = "phone"  />
			<button>Sign Up</button>
		</form>
	</div>
	<div class="overlay-container">	
		<div class="overlay">
			<form class ="em" action= "/login">
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				 <button class="ghost" id="signIn" >Sign In</button>
			</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>